<p id="notice"><%= notice %></p>

<%= image_tag @recipe.photo.url (:small) %>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Author:</b>
  <%= @recipe.author %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients %>
</p>

<p>
  <b>Directions:</b>
  <%= @recipe.directions %>
</p>

<!-- add a comment, connects to comments/form partial -->
<h3>Add a comment:</h3>
<% if user_signed_in? %>
<%= render "ucomments/form" %>
    <% else %>
    <%= link_to "Sign in", new_user_session_path %> <br />
    <% end %>

<br />
<!-- display the saved comments, connects to comments/comment partial -->
<% unless @recipe.ucomments.empty? %>
  <h2><%= pluralize(@recipe.ucomments.size, 'comment') %></h2>
  <div id="comments">
  <%= render @recipe.ucomments %>
  <% end %>
  </div>



<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', list_path %>
