<div class="ucomment" data-time="<%= ucomment.created_at.to_i %>"></div>
  <b>Comment by: </b> <%= ucomment.user_name %>
    <em>on <%= ucomment.created_at %></em> <br />
  <b>Comment: </b><%= ucomment.content %>
</div>

</p>

<p>
  <%= link_to 'Delete Comment', [ucomment.recipe, ucomment],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>